@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root{
  --background:#FFF8F1;
  --foreground:#2D2D2D;

  --primary:#C96A2B;
  --secondary:#E89F65;
  --accent:#F7E6D2;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  padding:0;
  background:var(--background);
  color:var(--foreground);
  font-family:var(--font-poppins);
  transition:background-color .3s ease,color .3s ease;
}
html.dark{
    background:#121212;
}

html.dark body{
    background:transparent;
    color:white;
}

html.dark nav{
    background:#1d1d1d !important;
    border-color:#333 !important;
}

html.dark footer{
    background:#0f0f0f;
}


html.dark .bg-white{
    background:#1e1e1e !important;
}

html.dark .text-gray-900{
    color:white !important;
}

html.dark .text-gray-600,
html.dark .text-gray-500{
    color:#d1d5db !important;
}

html.dark input{
    background:#1e1e1e;
    color:white;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family:var(--font-playfair);
}

*{
  box-sizing:border-box;
}

button{
  cursor:pointer;
}

section{
  width:100%;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#d28a54;
  border-radius:20px;
}

::-webkit-scrollbar-track{
  background:#fff7f0;
}




